<h3>Submit issues to track</h3>
Use the form below to report issues. Issues will be timestamped when this form was submitted. <b>Note: be careful to not report issues that have already been reported.</b>
<br><br>

<div class="container">
  Build info:
  <div class="well">
    <form class="form-inline" name="buildInfo" novalidate>
      <div class="form-group row">
        <label for="buildProduct" class="sr-only">Build product</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="buildProduct" ng-model="submitCtrl.report.buildInfo.product" placeholder="Product name">
        </div>
      </div>
      <div class="form-group row">
        <label for="buildBranch" class="sr-only">Build branch</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="buildBranch" ng-model="submitCtrl.report.buildInfo.branch" placeholder="Build branch">
        </div>
      </div>
      <div class="form-group row">
        <label for="buildName" class="sr-only">Build name</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="buildName" ng-model="submitCtrl.report.buildInfo.name" placeholder="Build name">
        </div>
      </div>
    </form>
  </div>

  Issue info:
  <div class="well">
    <form class="form" name="issueAdd" novalidate>
      <div class="form-group row">
        <label for="issueType" class="col-xs-2 col-form-label">Issue type</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="issueType" ng-model="submitCtrl.newIssue.type" placeholder="Enter issue type (eg: 'fatalassert')">
        </div>
      </div>
      <div class="form-group row">
        <label for="issueSignature" class="col-xs-2 col-form-label">Issue signature</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="issueSignature" ng-model="submitCtrl.newIssue.signature" placeholder="Enter issue signature (eg: 'thiscrashed.c:300')">
        </div>
      </div>
      <div class="form-group row">
        <label for="issueCount" class="col-xs-2 col-form-label">Issue count</label>
        <div class="col-xs-10">
          <input type="number" class="form-control" id="issueCount" ng-model="submitCtrl.newIssue.count" placeholder="Enter # of times issue occurred">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-10 col-xs-offset-2">
          <button class="btn btn-default" ng-click="submitCtrl.addIssue()">Add issue to report</button>
          <button ng-if="submitCtrl.valid" class="btn btn-default">Submit report</button>
          <span ng-if="!submitCtrl.valid">Can't submit report without more info</span>
        </div>
      </div>
    </form>

    <!-- Each issue goes here -->
    <table class="table" ng-if="submitCtrl.report.issues.length">
      <thead>
        <tr>
          <th>Type</th>
          <th>Signature</th>
          <th>Count</th>
          <th>Remove</th>
        </tr>
      </thead>
        <tr ng-repeat="issue in submitCtrl.report.issues">
          <td>{{issue.type}}</td>
          <td>{{issue.signature}}</td>
          <td>{{issue.count}}</td>
          <td><button class="btn btn-default" ng-click="submitCtrl.removeIssue($index)">Remove</button>
        </tr>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
