# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Backup databases
*scope*backup*

# System Files
.DS_Store
Thumbs.db

# Rspec test coverage reports
/coverage

# Application configuration
/config/application.yml

# Client side stuff that is not checked in
/node_modules
/public/*
