<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Occurrences</th>
      <th>Type</th>
      <th>Signature</th>
      <th>Ticket</th>
      <th>Notes</th>
      <th ng-if="$ctrl.parentId">Merge To Parent #{{$ctrl.parentId}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="issue in $ctrl.issues">
      <td ui-sref="issue-report({id: issue.id})">{{issue.id}}</td>
      <td ui-sref="issue-report({id: issue.id})">{{issue.hit_count}}</td>
      <td ui-sref="issue-report({id: issue.id})">{{issue.issue_type}}</td>
      <td ui-sref="issue-report({id: issue.id})">{{issue.signature}}</td>
      <td ui-sref="issue-report({id: issue.id})">{{issue.ticket}}</td>
      <td ui-sref="issue-report({id: issue.id})">{{issue.note}}</td>
      <td ng-if="$ctrl.parentId">
        <merge-issue-flow parent-id="$ctrl.parentId" child-id="issue.id"></merge-issue-flow>
      </td>
    </tr>
  </tbody>
</table>
<div ng-if="issues.length === 0" class="alert alert-danger">
  <strong>Error!</strong> No issues returned.
</div>
