<table class="table">
  <thead>
    <tr>
      <th>Hits</th>
      <th>Type</th>
      <th>Signature</th>
      <th>Notes</th>
      <th>Ticket</th>
      <th>Merge to</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{$ctrl.issue.hit_count}}</td>
      <td>{{$ctrl.issue.issue_type}}</td>
      <td>{{$ctrl.issue.signature}}</td>
      <td>
        <form novalidate>
          <input type="text" ng-model="$ctrl.issue.note" ng-blur="$ctrl.updateTicket()"></input>
        </form>
        <div ng-if="$ctrl.ticketInfo">{{$ctrl.ticketInfo}}</div>
      </td>
      <td>
        <form novalidate>
          <input type="text" ng-model="$ctrl.issue.ticket" ng-blur="$ctrl.updateTicket()"></input>
          </form>
        <div ng-if="$ctrl.ticketInfo">{{$ctrl.ticketInfo}}</div>
      </td>
      <td ng-if="$ctrl.issue.hit_count">
        <form novalidate>
          <input type="text" ng-model="$ctrl.mergeToId" ng-blur="$ctrl.mergeTo()"></input>
        </form>
        <div ng-if="$ctrl.mergeInfo">{{$ctrl.mergeInfo}}</div>
        <merge-issue-flow parent-id="$ctrl.mergeToId" child-id="$ctrl.issue.id"></merge-issue-flow>
      </td>
      <td ng-if="$ctrl.issue.hit_count == 0">No instances to merge</div>
    </tr>
  </tbody>
</table>
