<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="Scope" ng-strict-di>
    <header>
      <nav id="header-nav" class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand" ui-sref="home">
            Scope
            </div>
          </div>

          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="issues">Issues</a></li>
            <li ui-sref-active="active"><a ui-sref="builds">Builds</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <ui-view>
    </ui-view>
  </body>
</html>
