<!DOCTYPE html>
<html>
  <head>
    <title>Scope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Scope</h1>
    <h2>Coming soon</h2>
  </body>
</html>
